:root {
    --themeColor: #223466;
    --hoverColor: #223466;
    --amplify-primary-color: #223466;
    --amplify-primary-tint: #223466;
    --amplify-primary-shade: #223466;
}


.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.brandColor{
    color: #223466;
}

.logoTextLink{
    text-decoration: none!important;
    color: black;
}

.logoTextLink:hover{
    text-decoration: none!important;
    color: black;
}

.instructionsBox{
    margin: auto;
    width: 600px;
    color: black;
}

.instructionsBoxList{
    text-align: left;
}

.mainRow{
    margin-top: 20vh;
}

.NextButton{
    width: 600px;
    margin-top: 17px;
}

.instrHeading{
    margin-bottom: 18px;
}