.dash-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-ct-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.dash-ct-bar-left {
    display: flex;
    align-items: center;
}

.dash-ct-bar-btn button {
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
}

.dash-ct-bar-btn-active {
    background: #e6dede;
    font-weight: 600;
}