@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

/* .proctor {
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
} */

.flex-css {
    display:'flex'!important;
    flex-wrap:'wrap'!important;
    justify-content:'center'!important;
    align-self:'center'!important;
}

.accordion-title {
    font-weight: bold;
    color: white;
    background-color: rgb(24, 24, 56)!important;
    margin: 5px;
    text-align: center;
}

.accordion-details {
    margin-left: 15px;
}

.viewChangeButton {
    width: 200px;
}

.pagination {
    margin: 10px;
    justify-content: center;
}

.cardlist {
    display: flex;
    /* margin-left: 30%; */
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
}

.card {
    width:25rem;
    margin: 5px;

}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.card-body {
    padding: 3rem 0!important;
}

.card-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.card-title {
    font-weight: 900;
}

.container-fluid {
    padding: 6rem;
}

/* .overflow {
    overflow: visible;
} */

.carousel {
    border-radius: 0!important;
}

.carousel-caption {
    font-weight: bold;
}

.card-img-top {
    transform: scale(1);
    border-radius: 0;
}

/* .card-img-top:hover {
    transform: scale(1.5);
} */

.btn {
    margin: 5px;
    font-size: 20px;
    font-weight: 600;
}

.disqualify {
    color: red!important;
    border-color: red!important;
}

.navigation-button {
    color: black!important;
    border-color: black!important;
}

.disqualify:hover {
    background-color: red!important;
    color: white!important;
}

.navigation-button:hover {
    background-color: black!important;
    color: white!important;
}