* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(219, 226, 226);
}
.row{
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}
img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
}

.btn1:hover {
    background-color: white;
    border: 1px solid;
    color: black;
}
.error {
    color: red;
    font-weight: bold;
}