.tests-header {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.your-tests-cntnr {
    border-bottom: 2px solid #223466;
}

.single-test {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    box-shadow: 0 1px 7px rgba(0,0,0,0.16), 0 0 1px rgba(0,0,0,0.23);
    margin: 30px 0;
}

.s-test-btns {
    display: flex;
    gap: 14px;
    align-items: center;
}

.s-test-name {
    font-size: 20px;
    font-weight: 500;
}

.s-test-stats {
    display: flex;
    flex-wrap: wrap;
}

.s-test-stat {
    flex-basis: 50%;
    color: #888;
}